@import "reset"
@import "colors"

body
    font-family: 'Open Sans', sans-serif

    color: var(--text-color)
    background-color: black

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility


    button,
    input
        font-family: inherit

    #__next
