.openButton
    position: absolute

    bottom: 20px
    right: 20px

    height: 30px
    width: 35px

    border: none
    border-radius: 5px

    background: black

    padding: 5px

    cursor: pointer

    transition: transform 0.1s ease-in-out

    &:hover
        transform: scale(1.2)

    img
        height: 100%
        width: 100%
