.postHeader
    padding: 0 1em
    
    .authorAndDate
        display: flex
        align-items: center
        margin: 1em 0 2em

        @media screen and (max-width: 600px)
            flex-direction: column
            align-items: flex-start

    .excerpt
        line-height: 1.5
        margin-bottom: 1.5em

    .heroVideo
        width: 100%